*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
.homcur h1{
  color:black;
  font-size:25px
}
.homcur h2{
  font-size:20px 
}
.homcur h3{
  cursor:pointer;
}
.homcur h4{
  font-size:22px
}
.homcur {
  margin-top:60px;
}
.homcur img{
  width:90px;
}